@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 24 9.8% 10%;
    --card: 0 0% 100%;
    --card-foreground: 24 9.8% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 24 9.8% 10%;
    --primary: 35.5 91.7% 49.2%; /* Light Orange */
    --primary-foreground: 0 0% 100%;
    --secondary: 35 100% 97%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 35 100% 97%;
    --muted-foreground: 35 20% 46.1%;
    --accent: 35.5 91.7% 49.2%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 35 20% 90%;
    --input: 35 20% 90%;
    --ring: 35.5 91.7% 49.2%;
    --chart-1: 35.5 91.7% 49.2%;
    --chart-2: 24.6 95% 53.1%;
    --chart-3: 15.8 90.1% 55.5%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --sidebar-background: 35.5 91.7% 49.2%; /* Light Orange */
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 35.5 91.7% 49.2%;
    --sidebar-accent: 24.6 95% 53.1%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 35.5 91.7% 49.2%;
    --sidebar-ring: 0 0% 100%;
  }

  .dark {
    --background: 20 14% 4%;
    --foreground: 0 0% 98%;
    --card: 20 14% 4%;
    --card-foreground: 0 0% 98%;
    --popover: 20 14% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 35.5 91.7% 49.2%;
    --primary-foreground: 0 0% 100%;
    --secondary: 20 10% 10%;
    --secondary-foreground: 0 0% 98%;
    --muted: 20 10% 10%;
    --muted-foreground: 20 5% 64%;
    --accent: 35.5 91.7% 49.2%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 10% 15%;
    --input: 20 10% 15%;
    --ring: 35.5 91.7% 49.2%;
    
    --sidebar-background: 35.5 91.7% 49.2%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 35.5 91.7% 49.2%;
    --sidebar-accent: 24.6 95% 53.1%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 35.5 91.7% 49.2%;
    --sidebar-ring: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
